<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        <div class="container">
            <div class="jumbotron">
                <h1 class="center">Blue's Barbershop</h1>
            </div>
            {% if stylists is not empty %}
                <h3>Your Stylists:</h3>
                <ul>
                    {% for stylist in stylists %}
                    <li class="success">
                        <a href="/stylist/{{ stylist.getId }}">{{ stylist.getName }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h5 class="text-danger">Uh oh... Please Hire Some Stylists!</h5>
            {% endif %}
            <hr>
            <h3>Add stylist:</h3>
            <form action='/' method='post'>
                <div class="form-group">
                  <label for='stylist-name'>Stylist Name</label>
                  <input name='stylist-name' type='text' class='form-control' required>
                </div>
                <button type='submit' class='btn btn-success'>Submit</button>
            </form>
            <hr>
            <form action='/deleteAll' method='post'>
                <input name="_method" type="hidden" value="delete">
                <button type='submit' class='btn btn-danger'>Clear Stylists!</button>
            </form>
        </div>
    </body>
</html>
